@supports (padding: max(0px)) {
  .safe--area {
    padding-top: max(0px, env(safe-area-inset-top));
    margin-bottom: max(0px, env(safe-area-inset-bottom));
    padding-left: max(0px, env(safe-area-inset-left));
    padding-right: max(0px, env(safe-area-inset-right));
  }

  /* .MuiDrawer-root.MuiDrawer-docked > .MuiPaper-root, */
  .MuiDrawer-root.MuiDrawer-modal > .MuiPaper-root,
  .MuiModal-root > :nth-child(3),
  [data-cy="offCanvas"] {
    margin-top: max(0px, env(safe-area-inset-top));
    padding-bottom: max(0px, env(safe-area-inset-top));
    margin-bottom: max(0px, env(safe-area-inset-bottom));
    margin-left: max(0px, env(safe-area-inset-left));
    margin-right: max(0px, env(safe-area-inset-right));
  }

  [id="__next"] > nav {
    height: 64px;
    margin-top: max(0px, env(safe-area-inset-top));
  }
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 6px;
}

/* Customize scrollbar handle */
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* Customize scrollbar track on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
